<!DOCTYPE html>
<html lang="en">
<head>
    <title>WINGO</title>
    <link rel="stylesheet" type="text/css" href="plugins/SpreadJS.Release.16.2.6/SpreadJS/css/gc.spread.sheets.excel2013white.16.2.6.css">
    <link rel="stylesheet" type="text/css" href="plugins/wijmo-5.20232.939_KR/Dist/styles/wijmo.min.css">
    <script src="plugins/SpreadJS.Release.16.2.6/SpreadJS/scripts/gc.spread.sheets.all.16.2.6.min.js" type="text/javascript"></script>
    <script src="plugins/SpreadJS.Release.16.2.6/SpreadJS/scripts/plugins/gc.spread.sheets.shapes.16.2.6.min.js" type="text/javascript"></script>
    <script src="plugins/SpreadJS.Release.16.2.6/SpreadJS/scripts/plugins/gc.spread.sheets.tablesheet.16.2.6.min.js" type="text/javascript"></script>
    <script src="plugins/SpreadJS.Release.16.2.6/SpreadJS/scripts/plugins/gc.spread.sheets.charts.16.2.6.min.js" type="text/javascript"></script>
    <script src="plugins/SpreadJS.Release.16.2.6/SpreadJS/scripts/resources/ko/gc.spread.sheets.resources.ko.16.2.6.min.js" type="text/javascript"></script>
    <script src="plugins/SpreadJS.Release.16.2.6/SpreadJS/samples/FeatureDrillDown/scripts/FileSaver.min.js" type="text/javascript"></script>
    <script src="plugins/SpreadJS.Release.16.2.6/SpreadJS/scripts/plugins/gc.spread.sheets.print.16.2.6.min.js" type="text/javascript"></script>
    <script src="plugins/SpreadJS.Release.16.2.6/SpreadJS/scripts/plugins/gc.spread.sheets.pdf.16.2.6.min.js" type="text/javascript"></script>
    <script src="plugins/SpreadJS.Release.16.2.6/SpreadJS/scripts/interop/gc.spread.excelio.16.2.6.min.js" type="text/javascript"></script>
    <script src="plugins/SpreadJS.Release.16.2.6/SpreadJS/scripts/plugins/gc.spread.sheets.io.16.2.6.min.js" type="text/javascript"></script>
    <script src="plugins/wijmo-5.20232.939_KR/Dist/controls/wijmo.min.js" type="text/javascript"></script>
    <script src="plugins/wijmo-5.20232.939_KR/Dist/controls/wijmo.grid.min.js" type="text/javascript"></script>
    <script src="plugins/wijmo-5.20232.939_KR/Dist/controls/wijmo.input.min.js" type="text/javascript"></script>
    <script src="plugins/wijmo-5.20232.939_KR/Dist/controls/cultures/wijmo.culture.ko.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="plugins/jqueryui/jquery-ui.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="plugins/jqueryui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript" src="js/obfuscation/licensekey.js"></script>
</head>