<div class="content_top">
    <div class="cont_tit">INTRO</div>
    <div class="div">
        <button class="btn_fullscreen_off"></button>
        <button class="btn_fullscreen_on"></button>
    </div>
</div>

<div class="container" style="margin-top: 0;">
    <div class="spreadSheet">
        <div id="ribbonHost"></div>
    </div>
</div>

<style>
.sample-tutorial {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.container {
	display: block;
}

.spreadSheet {
    height: calc(100% - 150px);
}

#ribbonHost {
    height: 100%;
}

.description {
    margin: 10px;
    width: 40%;
}
.gc-edit-select .spinner-input {
	height: auto;
}
</style>

<script src="plugins/SpreadJS.Release.17.0.2/Designer/Designer Component/scripts/gc.spread.sheets.designer.resource.ja.17.0.2.min.js" type="text/javascript"></script>
<script src="plugins/SpreadJS.Release.17.0.2/Designer/Designer Component/scripts/gc.spread.sheets.designer.all.17.0.2.min.js" type="text/javascript"></script>
<script src="js/<%= pathJs %>/sample24.js" type="text/javascript"></script>