<div class="content_box">
  <div class="container-fluid" style="height: 100%;display: flex;">
      <div id="chart" style="width:50%;height: 100%;padding: 50px;"></div>
      <div id="theGrid" style="width:50%;height: 100%;padding: 30px;"></div>
  </div>
</div>

<style>
@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.wj-cell.wj-frozen-row {
  border-bottom: none;
}
.negative {
  color: red;
}
.wj-flexgrid .wj-header {
  background-color: #36495e;
  color:white;
  font-weight:bold;
}

.wj-cells .wj-cell.wj-state-selected{
  background: #4DD0E1;
}

.row {
  margin: 10px -15px;
}

#pieAnimationMode {
  width: 220px;
}

#pieEasing {
  width: 220px;
}

#pieDuration, #pieInnerRadius {
  width: 180px;
}

.btn{
  background-image:none;
}

.wj-flexchart .wj-data-label{
  fill: #ffffff;
  font-weight: bolder;
}

.wj-cells .wj-cell.wj-state-selected {
    background: #696b78;
}

.wj-flexchart .wj-header .wj-title {
    font-size: 18pt;
    fill: #242632;
    font-weight: bold;
}
.wj-cells .wj-cell.wj-state-multi-selected{
  background: #696b78;
}
</style>

<script src="plugins/wijmo-5.20232.939_KR/Dist/controls/wijmo.grid.selector.min.js" type="text/javascript"></script>
<script src="plugins/wijmo-5.20232.939_KR/Dist/controls/wijmo.chart.min.js" type="text/javascript"></script>
<script src="plugins/wijmo-5.20232.939_KR/Dist/controls/wijmo.chart.interaction.min.js" type="text/javascript"></script>
<script src="plugins/wijmo-5.20232.939_KR/Dist/controls/wijmo.chart.animation.min.js" type="text/javascript"></script>
<script src="js/obfuscation/sample2.js" type="text/javascript"></script>