<div class="content_top">
    <div class="cont_tit">배송내역서</div>
    <div class="div">
        <button id="save" class="btn_search">
            <span>엑셀 다운로드</span>
        </button>
        <button class="btn_search">
            <i class="ico_srch"></i>
            <span>search</span>
        </button>
    </div>
</div>
        
<div class="search_box active">
    <table class="srch_tbl">
        <colgroup>
        <col width="10.9%">
        <col width="*">
        <col width="10.9%">
        <col width="*">
        <col width="10.9%">
        <col width="*">
        </colgroup>
        <tbody>
        <tr>
            <th>기준일자</th>
            <td class="ipt_date_wrap">
                <div class="ipt_date_div">
                    <input type="text" class="ipt_date datepicker">
                </div>
                <span class="line">-</span>
                <div class="ipt_date_div">
                    <input type="text" class="ipt_date datepicker">
                </div>
            </td>
            <th>수주/주문번호</th>
            <td>
                <input type="text" value="">
            </td>
            <th>주문상품명</th>
            <td>
                <input type="text" value="">
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="content_box" style="height: calc(100vh - 360px);">
    <div class="sample-tutorial">
        <div id="ss" class="sample-spreadsheets"></div>
    </div>
</div>



<style>
.sample-tutorial {
   position: relative;
   height: 100%;
   overflow: hidden;
}

.sample-spreadsheets {
   width: 100%;
   height: 100%;
   overflow: hidden;
   float: left;
}
</style>
<script src="https://demo.mescius.co.kr/spreadjs/learn-spreadjs/spread/source/js/FileSaver.js" type="text/javascript"></script>
<script src="https://demo.mescius.co.kr/spreadjs/learn-spreadjs/ko/purejs/node_modules/@grapecity/spread-sheets-print/dist/gc.spread.sheets.print.min.js" type="text/javascript"></script>
<script src="https://demo.mescius.co.kr/spreadjs/learn-spreadjs/ko/purejs/node_modules/@grapecity/spread-sheets-pdf/dist/gc.spread.sheets.pdf.min.js" type="text/javascript"></script>
<script src="https://demo.mescius.co.kr/spreadjs/learn-spreadjs/ko/purejs/node_modules/@grapecity/spread-excelio/dist/gc.spread.excelio.min.js" type="text/javascript"></script>
<script src="https://demo.mescius.co.kr/spreadjs/learn-spreadjs/ko/purejs/node_modules/@grapecity/spread-sheets-io/dist/gc.spread.sheets.io.min.js" type="text/javascript"></script>
<script>
var sheet, data;
window.onload = function() {
    data = getData();
    var spread = new GC.Spread.Sheets.Workbook(document.getElementById("ss"), { sheetCount: 0 });
    initSpread(spread);
    
    document.getElementById('save').onclick = function () {
        var fileName = '배송내역서_SN2262608796.xlsx';
        var fileType = 'xlsx';
        var options = {
            "includeBindingSource": false,
            "includeStyles": true,
            "includeFormulas": true,
            "saveAsView": false,
            "rowHeadersAsFrozenColumns": false,
            "columnHeadersAsFrozenRows": false,
            "includeAutoMergedCells": false,
            "includeCalcModelCache": false,
            "includeUnusedNames": true,
            "includeEmptyRegionCells": true,
            "fileType": 0
        }

        spread.export(function(blob) { saveAs(blob, fileName); }, function() {}, options);
    };
};


function initSpread(spread) {
    spread.suspendPaint();
    spread.options.autoFitType = GC.Spread.Sheets.AutoFitType.cellWithHeader;

    //init a data manager
    var dataManager = spread.dataManager();
    //add product table
    var productTable = dataManager.addTable("productTable", {
        data: data
    });

    //init a table sheet
    sheet = spread.addSheetTab(0, "TableSheet1", GC.Spread.Sheets.SheetType.tableSheet);
    sheet.options.allowAddNew = false; //hide new row
    sheet.setDefaultRowHeight(40, GC.Spread.Sheets.SheetArea.colHeader);

    //bind a view to the table sheet
    var style = { formatter: 'yyyy/MM/dd' };
    var myView = productTable.addView("myView", [
        { value: "c1", width: 100, caption :['발주번호', '배송번호'] },
        { value: "c2", width: '*', caption :['발주번호', '주소'] },
        { value: "c3", width: 120, caption :['발주번호', '공급가(VAT+)'], style: {formatter: '#,##0원'}},
        { value: "c4", width: 120, caption :['배송정보', '배송업체'] },
        { value: "c5", width: 100, caption :['배송정보', '현장배송'] },
        { value: "c6", width: 120, caption :['배송정보', '간선비'] , style: {formatter: '#,##0원'}},
        { value: "c7", width: 120, caption :['배송정보', '현장배송비'] , style: {formatter: '#,##0원'}},
        { value: "c8", width: 120, caption :['배송정보', '세대반입비'] , style: {formatter: '#,##0원'}},
        { value: "=[@c6]+[@c7]+[@c8]", width: 120, caption :['배송정보', '배송비합계'] , style: {formatter: '#,##0원'}},
        { value: "c10", width: 120, caption :['배송정보', '긴급출고비'] , style: {formatter: '#,##0원'}},
        { value: "c11", width: 120, caption :['배송정보', '코스절감'] , style: {formatter: '#,##0원'}},
        { value: "c12", width: 120, caption :['배송정보', '상태'] },
    ]);
    myView.fetch().then(function() {
        sheet.setDataView(myView);
    });

    spread.resumePaint();
}

function getData() {
  let arr = [];
  for(var i = 1; i < 200; i++) {
    var order = getRandomArrayElement([["없음", 0], ["없음", 0], ["없음", 0], ["없음", 0], ["1톤", 100000], ["2톤", 150000]]);
    let obj = {};
    obj.c1 = 'DL' + (Math.floor(Math.random() * (2400000000 - 2100000000)) + 2100000000);
    obj.c2 = getRandomArrayElement(['서울 강북구 수유동', '서울 강북구 4.19로', '서울 영등포구 버드나루로', '강원 원주시 명륜동']);
    obj.c3 = (Math.floor(Math.random() * (2400 - 2100)) + 2100) * 100;
    obj.c4 = getRandomArrayElement(["CJ 택배", "로젠 택배", "대한 통운"]);
    obj.c5 = order[0];
    obj.c6 = (Math.floor(Math.random() * (2400 - 2100)) + 2100) * 100;
    obj.c7 = order[1];
    obj.c8 = (Math.floor(Math.random() * (2400 - 2100)) + 2100) * 100;
    obj.c9 = (Math.floor(Math.random() * (2400 - 2100)) + 2100) * 100;
    obj.c10 = (Math.floor(Math.random() * (2400 - 2100)) + 2100) * 100;
    obj.c11 = (Math.floor(Math.random() * (2400 - 2100)) + 2100) * 100;
    obj.c12 = getRandomArrayElement(["출고전", "배송완료", "배송중"]);

    arr.push(obj);
  }

  function getRandomDate(start, end) {
      const startDate = start.getTime();
      const endDate = end.getTime();
          
      return new Date(startDate + Math.random() * (endDate - startDate));
  }

  function getRandomArrayElement(arr) {
      return arr[Math.floor(Math.random() * arr.length)]
  }


  return arr;
}
</script>